

*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: Helvetica;
	overflow: hidden;
}

.main-container{
	margin: 50px;
	min-height: 50vh;
}